.venv/
venv/

__pycache__/
*.py[cod]
*.egg-info/
build/
dist/

.pytest_cache/
.benchmarks/
.hypothesis/
.coverage
htmlcov/

.env
*.pem
credentials.json

.aws-sam/
samconfig.toml

*.pyc
.vscode/
.idea/
Thumbs.db
desktop.ini